/*h1 {
    color: purple;
  }

  a:link{
    color: blue;
    text-decoration: none;
  }

  /* Makes all visited links gray and with a line through */
  /*a:visited {
  color: maroon;
  text-decoration: line-through;
  }

  /* Makes links purple and bold when hovered over */
 /* a:hover {
  color: green;
  font-weight: bold;
  } */

  .greentext {
  font-family: Arial, Helvetica, sans-serif;
  color: green;
  }

  .purpletext{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: purple;
  }

  